/*
    REGLAS GLOBALES
    - tamanio de titulos
    - tamanio de parrafos
    - colores
    - tipografia
*/

* {
    box-sizing: border-box;
}

body {
 font-family: 'arial';
 font-size: 13px;
 color: #0d0d0d;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 26px;
}

h3 {
    font-size: 22px;
}

a {
    text-decoration: none;
    color: inherit; /*HEREDE EL VALOR DEL PADRE*/
}

/*
Header
*/
.header {
    background-color:red;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header > a {
    font-size: 30px;
}

.header a:hover {
    text-decoration: underline;
}

.header a:active {
    font-size: 16px;
}

.header ul {
    display: flex;
}

.header ul li {
    margin: 10px;
    background: blue;
    padding: 10px;
    border-radius: 20px;
}







