/*
GLOBALES
*/
* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /*base 10*/
}

body {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 1.8rem;
    color: #fff;  
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
}

section h2 {
    margin-bottom: 26px;
    font-size: 3.6rem;
    text-align: center;
}

/*HELPERS*/
.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

/*
LAYOUT
*/
.wrapper {
    max-width: 960px;
    width: 100%;
    margin: auto;
    overflow: hidden;
}

/*
BANNER
*/
.banner {
    position: relative;
}

.banner img {
    width: 100%;
}

.banner h1,
.banner h2 {
    position: absolute;
}

.banner h1 {
    left: 0;
    top: 45px;
    width: 100%;
    font-size: 6.4rem;
    text-align: center;
}

.banner h2 {
    left: 50px;
    bottom: 130px;
    padding: 16px;
    max-width: 365px;
    font-size: 3.6rem;
    line-height: 1.2;
    background: rgba(114, 153, 254, 0.5);
}

/*SKILLS*/
.skills {
    padding: 28px 104px 86px;
    background: #7299fe;
}

.skills h3 {
    margin-bottom: 8px;
}

.skills .bar,
.skills .bar div {
    border-radius: 8px;
}

.skills .bar {
    height: 18px;
    background: #fff;
}

.skills .bar div {
    height: 100%;
    background: #000;
}

.skills .row {
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.skills .row:last-child {
    margin-bottom: 0;
}

.skills .item {
    width: 50%;
}

.skills .item:first-child {
    padding-right: 10px;
}

.skills .item:last-child { 
    padding-left: 10px;
}

/*SERVICES*/
.services {
    padding: 30px 182px 76px;
    background: #fb7171;
}

.services .row {
    margin-bottom: 54px;
}

.services .row:last-child {
    margin-bottom: 0;
}

.services .item img{
   margin: 0 auto 15px;
}

/*
PORTFOLIO
*/
.portfolio {
    padding: 42px 186px 94px;
    background: #ffd233;
}

.portfolio figure {
    margin-right: 10px;
    margin-bottom: 10px;
}

.portfolio figure:last-child {
    margin-right: 0;
}

.portfolio .row:last-child figure {
    margin-bottom: 0;
}

/*CLIENTS*/
.clients {
    padding: 36px 70px 98px;
    background:  #3f4e62;
}

/*CONTACT*/
.contact {
    padding: 34px 100px 76px;
    background: #16a085;
}

.contact input,
.contact textarea {
    padding: 10px 5px;
    width: 100%;
}

.contact input:focus,
.contact textarea:focus {
    outline: none;
}

.contact button {
    width: 100%;
    padding: 20px;
    background: #233451;
    color: #fff;
    border: 0;
    cursor: pointer;
}

.contact .row {
    margin-bottom: 20px;
}

.contact .row:last-child {
    margin-bottom: 0;
}

.contact .item {
    width: 100%;
}

.contact .item:first-child {
    padding-right: 10px;
}

.contact .item:last-child {
    padding-left: 10px;
}

.contact .item.no-padding {
    padding: 0;
}

/*
RESPONSIVE
/*
    XLARGE: 1480PX
    LARGE: 1280px,
    MEDIUM: 980px,
    SMALL: 680px,
    XSMALL: 420px 
*/

/**/
@media(min-width:0) and (max-width:980px) {
    /*
    GLOBALES
    */
    section h2 {
        font-size: 2.4rem;
        margin-bottom: 2rem;
    }

    /*
        BANNER
    */
    .banner h1 {
        top: 10px;
        left: 10px;
        font-size: 3.2rem;
        text-align: left;
    }

    .banner img {
        height: 434px;
        object-fit: cover;
    }

    .banner h2 {
        font-size: 18px;
        bottom: 50px;
        right:50px;
        margin-bottom: 0;
        max-width: 100%;
    }

    /*
        SKILLS
    */
    .skills {
        padding: 20px 15px 40px;
    }

    .skills .item:first-child {
        margin-bottom: 20px;
    }
    
    .skills .item {
        width: 100%;
      
    }

    .skills .item:last-child {
        padding: 0;
    }
}